CodeBlocks/cell_batteries_check_AI/obj/
72V-Battery-AI-Model-Tester/__vm/
72V-Battery-AI-Model-Tester/obj/
72V-Battery-AI-Model-Trainer/x64/
72V-Battery-AI-Model-Trainer/Debug/
CodeBlocks/72V-Battery-AI-Model-Trainer/obj/
.vs/
72V-Battery-AI-Model-Trainer/Release/
x64/Debug/72V-Battery-AI-Model-Trainer.exe
x64/
tmp/
72V-Battery-AI-Model-Trainer/72V-Battery-AI-Model-Trainer.vcxproj.user
